{% extends "layout.html" %}

{% block content %}
    <main class="hero-section">
      <div class="container"> 
        <div class="section-tabs">
          <div class="places"> 
            <form method="POST" action="/">
              <br>
              {% if top_companies is defined %}
              <div class="jumbotronc">
                <h3>Most Popular Companies:</h3>

                {% for company in top_companies %}
                <div class="form-check">
                  <input class="form-check-input" name="check" type="checkbox" value="{{ company[1], loop.index }}" id="checkBox{{ loop.index }}"
                         {% if loop.index in checked_list %}
                         checked
                         {% endif %} 
                  >
                  <label class="form-check-label" for="checkBox{{ loop.index }}">
                   {{ company[0] }}
                  </label>
                </div>
                {% endfor %}
                {% if listform is defined %}
                   {{ listform.submit(class="btn-primary") }}
                {% endif %}
             </div>
             {% endif %}


           </form>
         </div>
       </div>

       <div class="section-map">
        <div class="nav">
          <form method="POST" action="/">
            {{ form.hidden_tag() }}

            <div class="form-group">
              {% if form.date_time_range.errors %}
              {% for error in form.date_time_range.errors %}
              <p class="error-message">{{ error }}</p>
              {% endfor %}
              {% endif %}

              {{ form.date_time_range(placeholder="Date-time range", id="datetime") }}
            </div>                        
            {{ form.submit(class="btn-primary") }}

            {% if show_chart is defined %}
              {% if show_chart %}
              <br><br><br>
              <div id={{ chartID|safe }} class="chart" style="height: 500px;"></div>
              {% endif %}
            {% endif %}
          </form>
        </div>
      </div>
      
      <div class="clearfix"></div>
    </div>
  </main>



  <script>
    $(function() {
     $('input[name="date_time_range"]').daterangepicker({   
      timePicker: true,
      timePicker24Hour: true,
      ranges: {
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      },
      locale: {
        format: 'YYYY-MM-DD HH:mm'
      }
    });
   });
  </script>

  <script>
    $(function() {
     $(chart_id).highcharts({
      chart: chart,
      title: title,
      xAxis: xAxis,
      yAxis: yAxis,
      series: series,
      tooltip: tooltip, 
      plotOptions: plotOptions,
      credits: credits
    });
   });
   var chart_id = {{ chartID|safe }}
   var series = {{ series|safe }}
   var title = {{ title|safe }}
   var xAxis = {{ xAxis|safe }}
   var yAxis = {{ yAxis|safe }}
   var chart = {{ chart|safe }}
   var tooltip = {{ tooltip|safe }} 
   var plotOptions = {{ plotOptions|safe }}
   var credits = {{ credits|safe }}
  </script>
{% endblock %}
