.btn-primary {
    padding: 7px 16px;
    border-radius: 7px;
}

.jumbotronc{
	padding-right: 30px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 30px;
    border-radius: 15px;
    background-color: #e1ecff;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    box-sizing: border-box;
    display: block;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.jumbotronc h3 {
	font-size: 21px;
}

#plotButton {
	margin-top: 10px;
}

.container {
    position: relative;
}    




